/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;

}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-centered{
    display: flex;
    justify-content: center;
}
.space-evenly{
  display: flex;
  justify-content: space-evenly;  
}

.container{
    width: 100%;
    margin: 0 auto;
}
.style-button{
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    border: none;
    
}
.bg-violet{
    background-color: #9792e4;
}
/****** MOBILE FIRST ******/
    /* SCETION HEADER */
header{
    height: 8vh;
    width: 100%;
    background-color: #0084fd;
}
nav{
    height: 100%;
    width: 100%;
    
}
div.logo,
div.menu{
    padding: 0 2rem;
    
}
div.logo img{
    width: 100px;
    padding-top: 0.7rem;
}
div.menu i{
    color: white;
}
div.menu ul{
    display: none;
}
div.card button{
    text-align: center;
    margin: 0 auto;
}


/* SECTION MAIN CARDS */
section.main-cards div.cards{
    padding: 2.5rem;
}
section.main-cards div.card{
    width: 100%;
    background-color: #b5ddff;
    margin-bottom: 1.5rem;
    padding: 2rem 2rem 0 2rem;
    line-height: 1.6;
    border-radius: 2rem;


}

div.card h1,
h2{
    color: #0084fd;
    font-weight: 800;
    font-size: 1.7rem;
    
    
}
div.card p{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2.5rem 0;
    color: #506272;
    text-align: center;
}
div.card button{
    font-size: 1.3rem;
    color: white;
    background-color: #0084fd;
    padding: 0.8rem 4rem;
    
}
div.card img{
    width: 100%;
    vertical-align: bottom;
    padding-top: 2.5rem;
}

div.card > i{
    color: #0084fd;
    padding: 1.5rem 0;
}


.t-center{
    text-align: center;
}

/* SECTION TWO CARDS  */
section.strategic{
    width: 100%;
    height: 100%;
    background-color: #9792e4;
    padding: 2rem;
}
div.woman-card{
    width: 100%;
    margin-bottom: 1rem; 
}
div.woman-card img{
    width: 100%;
    padding: 2.5rem 0;
}
div.woman-card h2{
    color: white;
    font-size: 2.5rem;
    padding-top: 1.5rem;
}
div.woman-card p{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2.8rem 0;
    color: white;
}
div.man-card{
    width: 100%;
    background-color: white;
    text-align: center;
    border-radius: 3rem;
}
div.man-card img{
width: 70%;
}
div.man-card p{
    padding:3rem;
    font-size: 1.3rem;
}
div.man-card i{
    background-color: #9792e4;
    border-radius: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
}



/* SECTION PARTNER PROFILES */
div.profiles{
    padding: 2rem;
}
div.title,
div.profile{
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 3rem;
    border-radius: 4rem;
}
div.title span{
    text-transform: uppercase;
    font-size: 1.3rem;
}
div.title h2{
    color: #9792e4;
    font-size: 2.5rem;
    padding: 2rem 0;
}
div.title p{
    font-size: 1.2rem;
}
div.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
div.profile p{
    font-size: 1.8rem;
    color: white;
    padding: 1.5rem 0;
}
div.profile span{
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}



/* SECTION BENEFITS CARD */
div.labels{
    padding: 3rem;
}
div.label{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 1rem;
}

/* SECTION ABOUT US */

section.about-us{
    padding: 2rem;
}

div.description{
    width: 100%;
    height: 700px;
    background-color: bisque;
    margin-bottom: 1rem;
}

div.aside{
    width: 100%;
    height: 400px;
    background-color: bisque;
}


/* SECTION GET START */

section.get-start{
    padding: 2rem;
    width: 100%;
    height: 700px;
}

/* FOOTER */

footer{
    width: 100%;
    height: 350px;
    background-color: #111010;
}


/******** RESPONSIVE ********/

@media all and (min-width: 790px){

    section.main-cards div.card{
        width: calc((100% / 3) - 1rem);
        margin: 1rem auto;
    }
    section.main-cards div.card:first-child{
        width: calc((100% / 3) * 2 - 1rem);
    }
    div.card img{
        width: 70%;
    }

    div.label{
        width: calc((100% / 2) - 1rem);
    }
    div.labels{
        justify-content: space-between;
    }

    div.description{
        width: 67%;
        margin-right: 1rem;
    }

    div.aside{
        width: 30%;
    }
}


@media all and (min-width: 992px){
    .container{
        width: 65%;
        
    }
    div.cards{
        padding: 3rem 0;
    }
    div.text-box,
    div.img-box{
        width: 50%;
    }

    div.card img{
        width: 100%;
        vertical-align: bottom;
        padding: 2.5rem 0 0 7rem;
    }

    div.section-dev{
        flex-wrap: nowrap;
    }
    div.label{
        width: calc((100% / 3) - 1rem);
    }
    div.labels{
        justify-content: space-between;
    }
    div.menu i{
        display: none;
    }
    div.menu ul{
        display: inline-block;
    }
    div.menu ul li{
        display: inline-block;
        padding: 0 1rem
    }
    div.menu a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    div.menu button{
        font-size: 1.1rem;
    }
    div.section-dev{
        width: 50%;
        margin: 0 auto;
        align-items: flex-end;
        padding: 5rem 1rem;
    }
    div.woman-card{
        width: 55%;
    }
    div.man-card{
        width: 45%;
        margin-left: 4rem;
    }
}





